*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    width: 100;
    background-color: rgb(24, 24, 24);
}


.avatar{
    height: 50vw;
    width: 50vw;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    object-fit: cover;

    border-radius: 100%;


    opacity: .5;
}
.avatar:hover{
    
}